/* GLOBAL */
* {
    margin: 0%;
    width: 100%;
    box-sizing: border-box;
}

.spacing-top {
    padding-top: 100px;
}

.spacing-bot {
    padding-bottom: 100px;
}

/* HEADER  */

header {
    display: flex;
    text-align: left;
    justify-content: space-around;
}

nav {
    position: fixed;
    background-color: #7a6e6e;
    padding: 20px;
    width: -webkit-fill-available;
    background-image: url(./assets/images/BG.jpg);
}

.inline-text{
    display: inline;
}

nav a {
    text-decoration: none;
    padding-right: 3%;
    color: white;
    font-weight: bold;
}

nav a:hover {
    color: #091653;
    font-weight:bolder;
}

/* MAIN  */

main {
    display: block;
    background-color: #8d8686;
}


/* HOME */

#section0 {
    display: flex;
    height: 680px;
    width: 100%;
    background-image: url(./assets/images/Blue.jpg);
    color: white;
    cursor:default;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

#link-to-portfolio {
    padding: 12px 15px 12px 15px;
    border: 1px solid white;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#link-to-portfolio:hover {
    content: "";
    border: 1px solid black;
    background-image: url(./assets/images/BG.jpg);
}

#aft::after {
    content: "🡪";
}

#aft:hover::after {
    content: "🡫";
}

#box {
    height:15px;
    width:15px;
}

h1 {
    padding-bottom: 30px;
}

h2 {
    text-align: center;
    cursor: default;
}

/* ABOUT ME  */
#profile-img {
    display: block;
    align-content: center;
    width: 425px;
    height: 315px;
}

#img-center {
    display: flex;
    justify-content: center;
}


/* FOOTER */

footer {
    background: #7a6e6e;
    padding: 70px 0 50px 0;
    position: relative;
    background-image: url(./assets/images/BG.jpg);
}

#toTop {
    font-size: 30pt;
    left: 0;
    line-height: 40pt;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: -25px; 
    width: 47px;
}

#myBtn {
    bottom: 0px; /* Place the button at the bottom of the page */
    align-items: center; /* Place the button 30px from the right */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #121e4e; /* Set a background color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    font-size: 18px; /* Increase font size */
    height: 50px;
  }
  
  #myBtn:hover {
    background-color: #1b2f7d; /* Add a dark-grey background on hover */
  }

  #trademark {
    text-align: center;
  }
  
  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #121e4e;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #1b2f7d;
  }
  
  /* Create two columns that float next to each other */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  .row {
    display: contents;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

  #bot-space {
    display: flex;
    justify-content: center;
  }