/* GLOBAL */
* {
    margin: 0%;
    box-sizing: border-box;
}

:root {
  --gray-background-img: url(../images/BG.jpg);
  --color1: #121e4e;
  --color2: #1b2f7d;
  --color3:#535353;
}

.spacing-top {
    padding-top: 100px;
}

.spacing-bot {
    padding-bottom: 100px;
}

.outerWrapper {
  width: 100%;
  overflow: hidden;
}

.innerWrapper {
  margin: 0 auto;
}

.txt-algn {
  display: flex;
  justify-content: center;
}

/* BODY  */
body{
  width: 100vw;
}

/* HEADER  */
header {
    display: block;
    text-align: left;
    position: fixed;
    width: 100vw;
    height: 58px;
    padding: 20px;
    justify-content: space-around;
    background-image: var(--gray-background-img);
}

nav ul > li{
    display: inline;
}

nav a {
    text-decoration: none;
    padding-right: 10px;
    padding-left: 10px;
    color: white;
    font-weight: bold;
}

nav a:hover {
    background-color:var(--color3);
    padding-top: 50px;
    padding-bottom: 15px;
    border-bottom: 6px solid var(--color1);
}

/* MAIN  */
main {
    display: block;
    width: 100%;
    background-color: #8d8686;
}

#skills div {
  /* background-color: var(--color1); */
}

#skills ul {
display: grid;
list-style: none;
-ms-grid-columns: (minmax(80px, 1fr))[auto-fill];
grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
grid-column-gap: 50px;
grid-row-gap: 50px;
}

#skills li div{
  text-decoration: none;
  text-align: center;
  width: 75px;
  height: 75px;
  border: 5px solid var(--color3);
  background-color: var(--color3);
}

#skills img {
  vertical-align: middle;
  width: 35px;
  height: 35px;
}

#skills p {
  margin-top: 10px;
}

/* HOME */ 
#home {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-image: url(../images/Blue.jpg);
    color: white;
    cursor:default;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

#link-to-portfolio {
    padding: 12px 15px 12px 15px;
    border: 1px solid white;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#link-to-portfolio:hover {
    content: "";
    border: 1px solid black;
    background-image: var(--gray-background-img);
}

#link-to-portfolio::after {
    content: "🡪";
}

#link-to-portfolio:hover::after {
    content: "🡫";
}

#box {
    height:15px;
    width:15px;
}

h1 {
    padding-bottom: 30px;
}

h2 {
    text-align: center;
    cursor: default;
    color: var(--color1);
    margin-bottom: 50px;
}

/* ABOUT ME  */
#profile-img {
    display: block;
    align-content: center;
    width: 425px;
    height: 315px;
}

#img-center {
    display: flex;
    justify-content: center;
}

/* PORTFOLIO */

#portfolio1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 80%;
}

#feature-project {
  width:100%;
  height:auto;
}

.projects {
  width:50%;
  height:auto;
  border:5px solid var(--color1);
}



/* CONTACT */
#subject{
font-family:'Times New Roman', Times, serif;
}

/* FOOTER */
footer {
  display: block;
  background: #7a6e6e;
  padding: 70px 0 50px 0;
  position: relative;
  width: 100%;
  background-image: var(--gray-background-img);
}

#toTop {
  font-size: 30pt;
  left: 0;
  line-height: 40pt;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: -25px; 
  width: 47px;
}

footer button {
  bottom: 0px;
  align-items: center;
  border: none;
  outline: none; 
  background-color: var(--color1);
  cursor: pointer; 
  padding: 15px;
  font-size: 18px;
  height: 50px;
  }
  
footer button:hover {
  background-color: var(--color2);
  }

#trademark {
  text-align: center;
  display: flex;
  justify-content: center;
}
  
/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
  
input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
  
button[type=submit] {
  background-color: var(--color1);
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}
  
button[type=submit]:hover {
  background-color: var(--color2);
}
  
/* Create two columns that float next to each other */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}
  
.row {
  display: contents;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#bot-space {
  display: flex;
  justify-content: center;
}

#bot-space-2 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: var(--color1);
}

.icon img {
  width: 25px;
  height: 25px;
}

.icon:hover {
  background-color: var(--color2);
}

.icon img:hover {
  width: 24px;
  height: 24px;
}

footer div {
  color: white;
  text-decoration: none;
  text-align: center;
}

footer h4 div{
  width:auto;
  padding: 5px;
  cursor: default;
}
footer p {
  display: inline;
  color: white;
}

footer p:hover {
  color: white;
  cursor: default;
}

/* RESPONSIVE SCREEN */
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}